/* font-family: 'Roboto Mono', monospace; */

@font-face {
    font-family: 'DM Serif Display';
    src: url('fonts/DMSerifDisplay-Regular.woff2') format('woff2'),
      url('fonts/DMSerifDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.woff2') format('woff2'),
      url('fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Medium.woff2') format('woff2'),
      url('fonts/OpenSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-SemiBold.woff2') format('woff2'),
      url('fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto Mono';
    src: url('fonts/RobotoMono-Medium.woff2') format('woff2'),
      url('fonts/RobotoMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto Mono';
    src: url('fonts/RobotoMono-Regular.woff2') format('woff2'),
      url('fonts/RobotoMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto Mono';
    src: url('fonts/RobotoMono-SemiBold.woff2') format('woff2'),
      url('fonts/RobotoMono-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  /* General */
  
  html {
    --color-black: #303031;
    --color-gray: #66645E;
    --color-green: #71A894;
    --color-light-gold: #F3F0EA;
    --color-white: #FFFFFF;
    --color-yellow: #F5C64F;
  
    color: var(--color-black);
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
  }
  
  body {
    margin: 0;
    min-height: 100vh;
  }
  
  /* Header */
  
  .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 40px 56px;
  }
  
  /* Logo */
  
  .logo {
    align-items: center;
    display: flex;
  }
  
  .logo__image {
    width: 68px;
    height: 41px;
  }
  
  .logo__text {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -2.5px;
    margin-left: 8px;
  }
  
  /* Navigation */
  
  .navigation {
    column-gap: 40px;
    display: flex;
  }
  
  .navigation__link {
    color: inherit;
    font-weight: 500;
    text-decoration: none;
  }
  
  .navigation__button {
    background-color: transparent;
    border: none;
    color: var(--color-green);
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    padding: 0;
  }
  
  /* Preview */
  
  .preview {
    align-items: center;
    background: no-repeat 90% 0% url(images/blob-1.svg);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px 0px 300px 0px;
    position: relative;
  }
  
  .preview__contents {
    grid-column: 1 / 3;
    grid-row: 1;
    max-width: 600px;
    order: 1;
    padding: 0px 56px;
  }
  
  .preview__heading {
    font-family: 'DM Serif Display', serif;
    font-size: 64px;
    line-height: 1.1;
    margin: 0;
  }
  
  .preview__description {
    color: var(--color-gray);
    font-size: 24px;
    margin: 24px 0 0 0;
  }
  
  .preview__button {
    background-color: var(--color-green);
    border-radius: 8px;
    border: none;
    color: var(--color-white);
    font-family: inherit;
    font-size: 18px;
    margin-top: 40px;
    padding: 20px 24px;
  }
  
  .preview__image {
    grid-column: 2 / 3;
    grid-row: 1;
    height: 500px;
    width: 850px;
  }
  
  .preview__scroll {
    bottom: 60px;
    left: calc(50% - 45px);
    max-width: 90px;
    position: absolute;
  }
  
  /* Scroll */
  
  .scroll {}
  
  .scroll__image {
    display: block;
    height: 32px;
    margin: 0 auto;
    width: 18px;
  }
  
  .scroll__text {
    color: var(--color-gray);
    display: block;
    font-size: 14px;
    margin-top: 8px;
    text-align: center;
  }
  
  /* Contributors */
  
  .contributors {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .contributors__cards {
    display: grid;
    gap: 20px;
  }
  
  .contributors__write {
    border: 2px solid var(--color-black);
    grid-column: 1 / 3;
    grid-row: 1;
    margin: 0 42px;
  }
  
  .contributors__applicants {
    border: 2px solid var(--color-black);
    grid-column: 1 / 2;
    grid-row: 2;
    margin-bottom: 24px;
  }
  
  .contributors__profile {
    border: 2px solid var(--color-black);
    grid-column: 2 / 3;
    grid-row: 2;
    margin-top: 24px;
  }
  
  /* Start */
  
  .start {
    padding-top: 120px;
    position: relative;
  }
  
  .start__line {
    height: 88px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(/images/dots.svg);
  }

  /*section*/

  .section__title {
    color: var(--black, #303031);
text-align: center;
font-family: 'DM Serif Display', serif;
font-size: 48px;
font-style: normal;
font-weight: 400px;
line-height: 64px; /* 133.333% */
  }
  .section__description {
    color: var(--black, #303031);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.36px;
    margin: 24px 0 0 0;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px; /* Добавим отступ для контейнера */
    justify-content: center;
    align-items: flex-start;
    gap: 23px;
    flex-shrink: 0;
  }
  
  .grid-item {
    display: grid;
    justify-content: center;
    border-radius: 8px;
    background: var(--white, #FFF);
/* Card Shadow */
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
  }
  
  /* Стили для заголовков и параграфов */
  h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  p {
    margin-top: 0;
    font-size: 14px;
    color: #555;
  }
  .section__two {
    color: var(--black, #303031);
font-family:  'DM Serif Display', serif;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 64px; /* 133.333% */
  }
  .description__two {
    color: var(--black, #303031);
    text-align: center;
    font-family:'Open Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.36px;
  }
.feature__info {
  display: flex;
width: 644px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 24px;
padding: 193px 158px 193px 56px;;
}


.section__two h2 {
  font-size: 24px;
  font-family:  'DM Serif Display', serif;
  margin: 0;
}

.section__two p {
  font-size: 16px;
  margin: 0;
}

/* Стили для виджета "widget" */
.widget {
  border-radius: 16px;
border: 4px solid var(--black, #303031);
background: var(--white, #FFF);
width: 300px;
flex-shrink: 0;
}

.members {
  font-size: 18px;
  font-weight: bold;
  font-family:'Roboto Mono'
}

.widget ul {
  list-style-type: none;
  padding: 0;
}

.widget li {
  display: flex;
  align-items: center;
  padding: 10px;
}

.widget img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.widget .name {
  font-weight: bold;
  font-family:'Roboto Mono';
}

.widget .shares {
  color: #666;
  font-family:'Roboto Mono';
}

.two {
  display: grid;
  grid-template-columns: 1fr 300px; /* Adjust the widths as needed */
  gap: 120px; /* Adjust the gap as needed */
  align-items: flex-start;
  }
.icon__three {
  fill: var(--light-gold, #F3F0EA);
  width: 80px;
height: 80px;
padding-left: 742px;
}
.title__three {
  color: var(--black, #303031);
font-family: 'DM Serif Display', serif;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 64px; /* 133.333% */
width: 644px;
padding-left: 742px;
}
.description__three {
  color: var(--black, #303031);
font-family:  'Open Sans';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 144.444% */
letter-spacing: -0.36px;
width: 644px;
padding-left: 742px;
}
.proposal__widget {
  border-radius: 16px;
border: 4px solid var(--black, #303031);
background: var(--white, #FFF);
flex-shrink: 0;
width: 484px;
height: 330px;
flex-shrink: 0;
}
.jassir {
  color: var(--black, #303031);
  font-family: 'Roboto Mono';
  font-size: 24px;
  font-style: normal;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.48px;
  justify-content: center;
}
.pre {
  color: var(--gray, #66645E);
font-family: 'Roboto Mono';
font-size: 16px;
font-style: normal;
line-height: 24px; /* 150% */
letter-spacing: -0.32px;
justify-content: center;
}
.proposal__widget img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  justify-content: center;
}
.my-button {
  display: flex;
  width: 404px;
  padding: 12px 24px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
background: var(--black, #303031);
color: var(--white, #FFF);
font-family: Novel Mono Pro;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 133.333% */
letter-spacing: -0.48px;
justify-content: center;
}
.words {
  color: var(--black, #303031);
font-family:'Roboto Mono';
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: -0.32px;
justify-content: center;
}
th {
  color: var(--gray, #66645E);
font-family: 'Roboto Mono';
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: -0.32px;
padding-left: 158px;
}

td {
  color: var(--black, #303031);
font-family: 'Roboto Mono';
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 133.333% */
letter-spacing: -0.48px;
padding-left: 74px;
}

.icon__four {
  width: 64px;
  height: 64px;
  transform: rotate(135deg);
  flex-shrink: 0;
  margin-left: 51px;
  margin-top: 236px;
}
.title__four {
  color: var(--black, #303031);
  font-family: 'DM Serif Display', serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 133.333% */
}
.description__four {
  color: var(--black, #303031);
  font-family:  'Open Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
  letter-spacing: -0.36px;
}
.title__five {
  color: var(--black, #303031);
text-align: center;
font-family: 'DM Serif Display', serif;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 64px; /* 133.333% */
}
.description__five {
  color: var(--black, #303031);
text-align: center;
font-family: 'Open Sans';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 144.444% */
letter-spacing: -0.36px;
}

/* Основной код для разрешения 1024px */
@media screen and (min-width: 2560px) {
  /* стили для больших мониторов с разрешением 4K */
}
@media screen and (min-width: 1440px) {
  /* стили для больших настольных компьютеров и ноутбуков */
}
@media screen and (max-width: 1024px) {
  /* стили для планшета в альбомной ориентации */
}
@media screen and (max-width: 768px) {
  /* стили для планшета */
}
@media screen and (max-width: 425px) {
  /* стили для широкого смартфона */
}
@media screen and (max-width: 375px) {
  /* стили для среднего смартфона */
}
@media screen and (max-width: 320px) {
  /* стили для малого смартфона */
}